#btn {
    width:40px;
    height:40px;
   display:none;
    position:fixed;
    left:50%; 
    margin-left:610px;
    bottom:30px; 
    background:url(http://img.mukewang.com/535e0dc100010e9c00400080.jpg) no-repeat left top;
    }
#btn:hover {
    background:url(http://img.mukewang.com/535e0dc100010e9c00400080.jpg) no-repeat 0 -39px;
    }
.box {
    width:1190px; 
     margin:0 auto;
    }